{% extends "../header.njk" %}

{% block content %}  
  <div class="container">
    <div class="content">

      <div class="editarReceita">
        <h3>Editando chefe</h3>
        <button form='form-delete' class="botaoDeletar" type="submit">Deletar</button>
        <button form='form-put' class="botaoSalvar" type="submit">Salvar chefe</button>
      </div>
      
      <form id="form-delete" method="POST" action="/admin/chefs?_method=DELETE">
          <input type="hidden" name="id" value="{{ chef.id }}">
      </form>

      <form id="form-put" class="" method="POST" action="/admin/chefs?_method=PUT">
        <input type="hidden" name="id" value="{{ chef.id }}">
        {% include './fields.njk' %}
      </form>

    </div>  
  </div>
{% endblock content %}