<div class="tituloEdicao">Nome</div>
<div>
    <input 
        type="text" 
        name="name"
        value="{{ chef.name }}"
    >    
</div>

<div class="tituloEdicao">Avatar</div>
<div>
    <input 
        type="text" 
        name="avatar_url"
        value="{{ chef.avatar_url }}"
    >    
</div>