{% extends "../header.njk" %}

{% block content %}
  <div class="container">
    <div class="content">
      <div class="show">
        <h2>Chefe: {{ chef.name }}</h2>
        
        <div class="botaoEditar">
          <a href="/admin/chefs/{{ chef.id }}/edit">Editar chefe</a>
        </div>
      </div>

      <div class="centralizar">
        <img class="avatarDetalheChefe" src="{{ chef.avatar_url }}"/>
        <div class="tituloAdmin">
          {{ chef.name }}
        </div>
        <div class="autorDetalhe">
          {{ chef.qtde_receitas }} receitas
        </div>
      </div>

      <h3>Receitas</h3>

      <div class="listaReceitasAdm">
      </div>

    </div>
  </div>
{% endblock content %}