{% extends "./header.njk" %}

{% block content %}
  <div class="container">
    <div class="content">
      <div class="centralizar">
        <img class="imgCadUso" src="/assets/cad_uso.svg">

        <div class="textoNotFound">
          Cadastro em uso
        </div>
        <a href="/">Voltar</a>
      <div>      

    </div>
  </div>
{% endblock content %}