<html>
  <head>
      {% block head %}
          <title>Foodfy</title>
      {% endblock %}

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="content headerAdmin">
      <div class="container menu">
        <a href="/"><img src="/assets/logo.png" alt="Logo"/></a>
        <div class="linksAdm">                                    
            <a href="/admin/recipes">RECEITAS</a>
            <a href="/admin/chefs">CHEFES</a>
        </div>
      </div>
    </div>

    {% block content %}
    {% endblock %}

    <script src="/scripts.js"></script>
  </body>
</html>