<html>
  <head>
      {% block head %}
          <title>Foodfy</title>
      {% endblock %}

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/styles.css">
      <link rel="stylesheet" href="/styles/messages.css">
  </head>
  <body>
    <div class="content headerAdmin">
      <span></span>
      <div class="container menu">
        <a href="/"><img src="/assets/logo.png" alt="Logo"/></a>
        <div class="linksAdm">                                    
            <a href="/admin/recipes">RECEITAS</a>
            <a href="/admin/chefs">CHEFES</a>
            
            {% if session.user.is_admin %} <!-- Variável global criada em 'server.js' -->
              <a href="/admin/users">USUÁRIOS</a>
            {% else %}
              <a href="/admin/profile">USUÁRIOS</a>
            {% endif %}
        </div>
      </div>

      <div class="sair">
      {# <span class="botaoSair">SAIR</span> #}
        <form action="/session/logout" method="POST">
          <button class="botaoSair">SAIR</button>
        </form>
      </div>
    </div>

    {# Arquivo para exibir as mensagens do sistema #}
    {% include "../parts/messages.njk" %}    
    
    {% block content %}
    {% endblock %}

    <script src="/scripts.js"></script>
  </body>
</html>