@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #f8e008;
  --secondary-color: #f7371e;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;

  /*background-color: var(--primary-color);*/

  /* Colocar o footer no final da página */
  display: flex;
  flex-direction: column;
}

header {
  background-color: white;
  width: 100%;
  padding: 30px;
  box-sizing: border-box; /* Configura o conteudo a toda a largura do conteudo, sendo assim 100% (width) */
}

.menu {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr;
  align-items: center;
}

.container {  
  width: 800px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.links {
  font-size: 16px;
  text-align: center;
}

.links a {
  text-decoration: none;
  color: #777;
  position: relative; /* Necessário para o funcionamento da class ".links a::after" */
}

.links a + a {
  margin-left: 20px;
}

.links a.active {
  font-weight: bold;
  color: var(--secondary-color);
}

.links a:hover {
  color: var(--secondary-color);
}

.links a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  position: absolute;
  left: 0;
  bottom: -4px;
}

.links a:hover::after {
  width: 100%;
  transition: width 200ms ease-in-out;
}

.content {
  background-color: white;
  height: 100vh;
}

.logo {
  text-align: left;
}

.centralizar {
  text-align: center;
}

.banner {
  width: 100%;
  height: 300px;
  background-color: #FBDFDB;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tituloBanner {
  color: black;
  font-weight: bold;
  font-size: 22px;
  padding-top: 100px;
  padding-left: 50px;  
  letter-spacing: 1px;
}
.textoTitulo {
  width: 270px;
  letter-spacing: 0.5px;
  margin-top: 5px;
  font-weight: normal;
  font-size: 14px;  
  line-height: 25px;
}

.imgChefe {
  height: 250px;
  width: 200px;
  padding-top: 50px; 
}

.tituloMaisAcessadas {
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 12px;
  letter-spacing: 0.5px;
}

.listaReceitas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.receita {
  /*width: 100%;
  height: 200px;
  border: 1px solid rgb(228, 223, 223);*/
  
  border-radius: 20px;
  margin-bottom: 20px;
  width: 260px;  
}

#galeriaReceita {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 2px;
  margin-top: 5px;
}

form #galeriaReceita #photos-upload {
  position: relative;

  display: block;
  overflow: hidden;

  width: 130px;
  height: 150px;
  border: 1px solid #DDDDDD;
}

form #galeriaReceita #photos-upload #photos-input {
  position: absolute;
  top: 0;
  left: 0;
  
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

form #galeriaReceita #photos-preview {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2px;
}

form .fotochefe {
  position: relative;
  display: block;
  overflow: hidden;
  height: 30px;
  width: 120px;
}

form .fotochefe input {
  position: absolute;
  top: 0;
  left: 0;
  
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

form .fotoChefe p {
  height: 30px;
  width: 120px;
  background-color: #6558C3;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#photos-preview .photo {
  position: relative;
}

#photos-preview .photo i {
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(255, 255, 255, 0.8);
  color: red;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 500%;
  cursor: pointer;

  transition: opacity 200ms;

  opacity: 0;
}

#photos-preview .photo:hover i {
  opacity: 1;
}

form #galeriaReceita #photos-preview img {
  width: 100%;
  height: 150px;

  object-fit: cover;
}

#addImgReceita {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  color: #FFFFFF 100%;

}

form #galeriaReceita #photos-upload #addImgReceita i {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 300%;
  color: #c5bfbf;

  height: 100%;
  width: 100%;
}

form #galeriaReceita #photos-upload #addImgReceita i:hover {
  cursor: pointer;
}

.imgReceita {  
  width: 100%;
  height: 140px;
  border-radius: 15px;
}

#photos-preview {
  height: 150px;
  width: 100%;
}

.receita + .receita {
  margin-left: 5px;
}

.tituloReceita {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
}

.autorReceita {
  margin-top: 5px;
  font-size: 14px;
  font-weight: normal;
  color: #777777;
}

.tituloSobre {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.textoSobre {
  margin-top: 10px;
  font-size: 14px;
}

.imgNotFound {
  height: 0 auto;
}

.textoNotFound {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: red;
}

.galeriaImgReceita {
  display: grid;
  grid-template-rows: 240px 50px;
  grid-gap: 2px;
}

.previewImgReceita {
  display: grid;
  grid-template-columns : repeat(5, 50px);
  grid-gap: 2px;
  
  justify-content: right;
}

.previewImgReceita img {
  height: 50px;
  width: 50px;
  border-radius: 3.5px;
  cursor: pointer;
}

.imgReceitaDet {  
  width: 100%;
  height: 240px;
  border-radius: 10px;  
}

.tituloAdmin {
  margin-top: 30px;
  font-weight: bold;
  font-size: 24px;
}

.autorDetalhe {
  margin-top: 5px;
  font-size: 14px;
  font-weight: normal;
  color: darkgray;
}

.button {
  margin-top: 5px;
  font-size: 14px;
  font-weight: normal;
  color: darkgray;
}

.headerAdmin {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-bottom: 30px;  
  padding-top: 15px;
  padding-bottom: 40px;

  display: grid;
  grid-template-columns: 1fr 800px 1fr;
}

.tituloAdm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
  align-items: center;
}

.listaReceitasAdm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.listaChefeAdm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.imgReceitaAdm {
  width: 100%;
  height: 100px;
  border-radius: 10px;  
}

.avatarChefe {
  width: 100%;
  height: 80px;
  border-radius: 60px;
}

.avatarDetalheChefe {
  width: 25%;
  height: 200px;
  border-radius: 100px;
}

.dadosInline {
  display: inline;
}

.tituloReceitaAdm {  
  font-size: 18px; 
  letter-spacing: 1px;
}

.nomeChefeAdm {  
  font-size: 12px; 
  letter-spacing: 1px;
  font-weight: bold;
}

.detalheChefe {
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 5px;
  font-weight: bold;
  color: #6558C3;
}

.autorReceitaAdm {  
  font-size: 14px;
  font-weight: normal;
  color: darkgray;
  margin-bottom: 6px;
}

.showDados {
  display: grid;
  grid-template-columns: 6fr 1fr;
  margin-bottom: 40px;
}

.editar {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  margin-bottom: 10px;
}


.botaoNovo a {
  height: 30px;
  width: 120px;
  background-color: #6558C3;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.botaoEditar {
  height: 30px;
  width: 120px;
  background-color: #6558C3;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.botaoEditar a {
  color: white;
}

.botaoEditarReceita a {
  color: white;
}

.criar {
  display: grid;
  grid-template-columns: 6fr 1fr;
  margin-bottom: 10px;
}

.botaoDeletar {
  height: 30px;
  width: 120px;
  background-color: #DC4747;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.botaoSalvar {
  height: 30px; 
  width: 120px;
  background-color: #6558C3;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.botaoCancelar {
  height: 30px; 
  width: 120px;
  background-color: #8A8A8A;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu form {
  display: grid;
  grid-template-columns: 1fr 100px;
  align-items: center;
}

.menu form input {
  margin-top: 0;
  margin-right: 10px;
}

.menu form button,
.tituloAdm div form button,
div form .busca button {
  height: 30px; 
  width: 100px;
  background-color: #6558C3;
  border-radius: 4px;
  color: white;
  font-size: 14px;
}

div form .busca input {
  margin-top: 0;
  padding-right: 10px;
}

.tituloAdm div form input {
  width: 300px;
  margin: 0;
}

.tituloAdm div form {
  text-align: right;
}





/* Modal */
#modal {
  background-color: #0e0a14ef; /* O "ef" é que deixa o modal transparente*/ 
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 400 ms;
}

/* Não tem espaço entre as palavas é pq está falando que quando o modal tiver uma classe com o nome "hide" */
#modal.hide {
  display: none;
}

#modal .content {
  color: white;
  width: 500px;
  height: 320px;
  border-radius: 10px;
}

#modal .header {    
  height: 170px;
  padding: 10px;
}

#modal .header img {
  width: 100%;
  height: 200px;
  border-radius: 10px;  
}

#modal .header h1 {
  margin-top: 10px;
  color: black;
  font-size: 24px;  
  text-align: center;
}

#modal .footer {
  margin-top: 100px;
  height: 20px;
  font-size: 12px;
  text-align: center;  
}













.card {
  background-color: white;
  width: 800px;
  min-height: 400px;
  margin: 45px auto;

  /* Grid dividido ao meio */
  display: grid;
  grid-template-columns: 1fr 1fr;

  box-shadow: 0px 2px 6px -2px black; /* Insere uma sombra ao redor do card */

  /* Estrutura HTML e CSS do projeto > Animando com CSS 
  Animação */
  animation-name: up 700ms ease;
}







/* Pagination */
.tabel-container {
  display: grid;
  grid-template: 64px 1fr 16px / 1fr;  
}

.tabel-container .header{
  margin: 0;
  align-self: start;
}

.tabel-container .pagination {
  margin: 0;
  align-self: end;
  justify-self: center;
}

.pagination a,
.pagination span {
  color: var(--primary-color);
  text-decoration: none;
  margin-right: 16px;
}

.pagination a:hover {
  filter: brightness(0.3);
  border-bottom: 1px solid var(--primary-color);
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  height: 30px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  margin-top: 8px;
  padding: 10px;
}

.inputCheckbox {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 10px;
}

select {
  width: 100%;
  height: 30px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  margin-top: 8px;
  
}

textarea {
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  margin-top: 8px;
  padding: 10px;
}

.tituloEdicao {
  font-weight: bold;
  margin-top: 8px;
  font-size: 14px;
  margin-top: 25px;
}

.recipe li {
  list-style-type: none;
  font-size: 15px;
  color: #444444;
  line-height: 28px;
}

.recipe h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.recipe .informacao {
  color: #444444;
  font-size: 15px;
  padding-bottom: 30px;
}

.acao {
  margin-top: 20px;
  font-weight: bold;
  font-size: 12px;
}

.mostrarEsconder {
  font-family: Roboto-Bold;
  font-size: 12px;
  color: #999999;
}



.linksAdm {
  font-size: 14px;
  text-align: right;
  width: 300px;
}

.linksAdm a {
  text-decoration: none;
  color: white;
  position: relative; /* Necessário para o funcionamento da class ".links a::after" */
}

.linksAdm a + a {
  margin-left: 40px;
}

.linksAdm a.active {
  font-weight: bold;
  color: var(--secondary-color);
}

.linksAdm a:hover {
  color: var(--secondary-color);
}

.linksAdm a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  position: absolute;
  left: 0;
  bottom: -4px;
}

.linksAdm a:hover::after {
  width: 100%;
  transition: width 200ms ease-in-out;
}

.listaReceitasChefe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.imgReceitaChefe {  
  width: 100%;
  height: 125px;
  border-radius: 10px;
}

.mt-10px {
  margin-top: 10px;
}

.mt-20px {
  margin-top: 20px;
}

.mt-60px {
  margin-top: 60px;
}

.mb-20px {
  margin-bottom: 20px;
}

.pb-20px {
  padding-bottom: 20px;
}





/* Pagination */
.painel {
  display: grid;
  grid-template: 64px 40px 1fr 16px / 1fr;  
}

.painel .tituloAdm{
  margin: 0;
  align-self: start;
}

.pagination {
  margin: 0;
  text-align: center;
}

.pagination a,
.pagination span {
  color: #6558C3;
  text-decoration: none;
  margin-right: 16px;
}

.pagination a:hover {
  filter: brightness(0.3);
  border-bottom: 1px solid #6558C3;
}

.ingrediente li {
  list-style-type: none;
  line-height: 28px;
  font-size: 15px;
  color: #444444;
}

.modoPreparo li {
  list-style-type: none;
  line-height: 28px;
  font-size: 15px;
  color: #444444;
}

.InformacaoAdicional .dados {
  list-style-type: none;
  line-height: 28px;
  font-size: 15px;
  text-align: justify;
  color: #444444;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;

  background: #e6e3e1;
  text-align: center;
  font-size: 14px;
  color: #444444;
  border-top: 1px solid #c5bfbf;

  margin-top: auto;
}

.inicioo {
  display: grid;
  grid-template: 90px 1fr 16px / 1fr;  
}

/*.content .show {
  padding-bottom: 5%;
  display: block;
  list-style-position: inside;
}*/

.content .hide {
  max-width: 940px;
  display: none;
  overflow: hidden;
}

.ingrediente button,
.modoPreparo button,
.InformacaoAdicional button {
  padding: 3px;
  border: 1px solid;
  border-radius: 4px;
  font-size: 11px;
  cursor: pointer;
}

.textoSobre {
  line-height: 28px;
  font-size: 15px;
  color: #444444;
}

footer {
  background-color: black;
  height: 30px;
  color: #c5bfbf;
}

.listaUsuariosAdm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  row-gap: 35px;
}

.nomeUsuario {
  font-size: 18px;
}

.acaoUsuario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 14px;
  font-weight: bold;
}

.linkEditar {
  color: #6558C3;
}

.linkExcluir {
  color: #F55A5A;
}

.formUsuario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.buttonDelete {
  color: #DC4747;
  font-size: 14px;
  font-weight: bold;
  background: none;
  cursor: pointer;
}

.login,
.password {
  width: 500px;
}

.login .header,
.password .header {
  text-align: center;
  color: #111111;
}

.tituloSecao {
  font-family: Cochin;
  font-size: 28px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 70px;
}

.login .header h3 + h3,
.password .header h3 + h3{
  font-size: 24px;
  margin-top: 80px;
  margin-bottom: 30px;
}

.login .footer,
.password .footer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 20px;
}

.login .footer a {
  color: #969696;
  font-size: 14px;
  font-weight: bold;
}

/* .password .footer button {
  color: #969696;
  font-size: 14px;
  font-weight: bold;
  background: none;
} */

.botaoSessao {
  height: 30px;
  width: 135px;
  background-color: #6558C3;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 14px;
  
}

.sair {
  text-align: right;
  margin-right: 50px;
  font-weight: bold;

}

.botaoSair {
  background: none;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

form .busca {
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  align-items: center; 
}