/* Faz a animação para a mensagem sumir automaticamente */
@keyframes hidemessage {
    to {
        top: -50px;
        opacity: 0;
    }
}

.messages {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 80px;
    width: 25%;
    color: white;
    top: 10;
    right: 10;
    border-radius: 4px;
    opacity: 1;

    animation: hidemessage 400ms 5s ease-out forwards;
}

.messages.error {
    background-color: #e74c3c;
}

.messages.success {
    background-color: #229c17;
}

.messages.alert {
    background-color: #fa7202;
    width: 400px;
}