{% extends "../header.njk" %}

{% block content %}
  <form class="" method="POST" action="/admin/recipes" enctype="multipart/form-data">
    <div class="container">
      <div class="content">
        <div class="criar">
          <h3>Criando receita</h3>
          <button class="botaoSalvar" type="submit">Salvar</button>
        </div>

        {% include './fields.njk' %}

      </div>    
    </div>
  </form>
{% endblock content %}