{% extends "../header.njk" %}

{% block content %}
  <div class="container">
    <div class="content">
      <div class="editarReceita">
        <h3>Editando receita</h3>

        <div class="botaoDeletar">
          Deletar
        </div>

        <div class="botaoSalvar">
          Salvar receita
        </div>
      </div>      

      {% include './fields.njk' %}

    </div>    
  </div>
{% endblock content %}