<div class="tituloEdicao">Imagem da receita</div>
<div>
    <input 
        type="url" 
        name="image"
        placeholder="http://"
        value="{{ recipe.image }}"
    >    
</div>

<div class="tituloEdicao">Ingredientes</div>
{% if recipe.ingredients %}
    {% for ingredient in recipe.ingredients %}
        <input
            type="text"
            name="ingredients"
            value="{{ ingredient }}"
        >
    {% endfor %}
{% else %}
    <input
        type="text"
        name="ingredients[]"
        required="required"
    >
{% endif %}

<div class="acao"><a href="#">Adicionar novo ingrediente</a></div>

<div class="tituloEdicao">Modo de preparo</div>
{% if recipe.preparation %}
    {% for preparation in recipe.preparation %}
    <input
        type="text" 
        name="preparation"
        value="{{ preparation }}"
    >
    {% endfor %}
{% else %}
    <input
        type="text" 
        name="preparation[]"
        required="required"
    >
{% endif %}

<div class="acao"><a href="#">Adicionar novo passo</a></div>

<div class="tituloEdicao">Informações adicionais</div>
<textarea 
    name="information" 
    rows="10" 
    cols="100">
    {{ recipe.information }}
</textarea>