{% extends "../header.njk" %}

{% block content %}
  <div class="container">

    <div class="painel">
      <div class="showDados">
        <h2>Gerenciar receitas</h2>

        <div class="botaoNovo">
          <a href="/admin/recipes/create">Nova</a>
        </div>
      </div>

      <div>
        <form action="#" method="GET">
          <div class="busca">
            <input 
                type="text" 
                name="filter"
                placeholder="Filtrar pelo nome da receita ou chefe"
                value="{{filter}}"
            >
            <button type="submit">Buscar</button>
            <span></span>
          </div>
        </form>
      </div>
      
      <div class="listaReceitasAdm">
        
        {% for recipe in recipes %}
            
            <img class="imgReceitaAdm" src="{{ recipe.img }}" />

            <div class="dadosInline">
              <div class="tituloReceitaAdm">{{ recipe.title }}</div>
              <div class="autorReceitaAdm">por {{ recipe.name }}</div>
              <div><a href="/admin/recipes/{{ recipe.id }}">Visualizar</a></div>
            </div>

          {% endfor %}
      <div>
    </div>
  </div>
  
  <div class="pagination"
      data-page={{pagination.page}}
      data-total={{pagination.total}}
      data-filter={{filter}}
      >
  </div>
{% endblock content %}