{% extends "../header.njk" %}

{% block content %}
  <div class="recipe">
    <div class="container">
      <div class="content">
        
        <div class="showDados">
          <h2>Receita: {{ recipe.title }}</h2>
          
          <div class="botaoEditar">
            <a href="/admin/recipes/{{ recipe.id }}/edit">Editar receita</a>
          </div>
        </div>

        <div class="galeriaImgReceita">
          <img class="imgReceitaDet" src="{{ files[0].src }}"/>  
          
          <div class="previewImgReceita">
            {% if allFiles %}
              {% for image in allFiles %}
                <img src="{{ image.src }}" alt="{{ image.name }}"/>
              {% endfor %}
              
            {% endif %}
            
            
            
          </div>
        <div>

        <div class="centralizar">
          <div class="tituloAdmin">
            {{ recipe.title }}
          </div>
          
          <div class="autorDetalhe">
            por {{ recipe.name }}
          </div>
        </div>
        
        <div class="ingredients-section">
          <div class="ingredienteReceita">
            <h3>Ingredientes</h3>
          </div>

          <div class="itemIngredienteReceita">
            {% for ingredient in recipe.ingredients %}
              <li>- {{ ingredient }}</li>
            {% endfor %}
          </div>
        </div>

        <h3>Modo de preparo</h3>

          {% for preparation in recipe.preparation %}
            <li>- {{ preparation }}</li>
          {% endfor %}

        <h3>Informações adicionais</h3>
          <div class="informacao">{{ recipe.information }}</div>
      </div>
    </div>
  </div>
{% endblock content %}