{% extends "layout.njk" %}

{% block content %}
  <div class="container">
    <div class="content">
      
      <div class="tituloSobre">
        Sobre o Foodfy
      </div>

      <div class="textoSobre">
        <p>
        Foodfy é um site de receitas desenvolvido para toda a comunidade do Brasil. 
        </p>
        <p>
        Surgiu em 2020 e reúne uma comunidade de apaixonados por comida.
        </p>
        <p>
        Foodfy é um site colaborativo, como um caderno de receitas compartilhado que reuni diversas receitas para diversos momentos.
        </p>
        <p>
        Hoje, mais de um milhão de brasileiros passa por aqui todos os dias e nossa missão é ajudar esses leitores a 
        cozinhar com simplicidade e prazer.
        </p>
      </div>
      
    </div>
  </div>    
{% endblock content %}