<html>
    <head>            
        {% block head %}
            <title>Foodfy</title>
        {% endblock %}
        
        <link rel="stylesheet" href="/styles.css">        
    </head>
    <body>
        <div class="inicio">
            <header>
                <div class="container menu">
                    <a href="/"><img src="/assets/logo_black.svg"/></a>
                    <div class="links">
                        <a href="/about">Sobre</a>
                        <a href="/recipes">Receitas</a>
                        <a href="/chefes">Chefes</a>
                    </div>
                    
                    <div>
                        <form action="/recipes_busca" method="GET">
                            <input 
                                type="text" 
                                name="filter"
                                placeholder="Filtrar pelo nome da receita"
                                value="{{filter}}"
                            >
                            <button type="submit">Buscar</button>
                        </form>
                    </div>
                </div>
            </header>

            {% block content %}
            {% endblock %}

            <!--
            <footer>
                Todos direitos reservados. Receitas Foodfy.
            </footer>
            -->
        </div>

        <script src="/scripts.js"></script>
    </body>
</html>